@font-face {
  font-family: 'Match';
  src: url('./assets/fonts/MatchBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat.ttf');
}

@font-face {
  font-family: 'Istok Web';
  src: url('./assets/fonts/IstokWeb.ttf');
}

$bg-color: #EEEEEE;
$primary-color: #B8C0C7;
$primary-dark: #596168;
$primary-light: #D2D2D2;
$secondary-color: #005B9A;
$secondary-dark: #495B6B;
$secondary-light: #7791A9;
$secondary-lighter: #006EBB;

$poster-font: Match, sans-serif;
$header-font: Montserrat, sans-serif;
$description-font: Istok Web, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: $bg-color;
}

.main-container {
  padding: 5px 0 0 5px;
}

.poster-sides {
  position: absolute;

  &__top {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: url("./assets/svg/circle_logo.svg") center/contain no-repeat;
  }

  &__text {
    color: $primary-light;
    font-family: $poster-font;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;

    &_bottom {
      padding-top: 10px;
      writing-mode: vertical-rl;
    }
  }
}

.main-content {
  margin: 50px 0 0 50px;
}